<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="DB" connectionString="Server=tcp:saasgamify-server.database.windows.net,1433;Initial Catalog=saasgamify-db;Persist Security Info=False;User ID=saasgamifylogin;Password=saasgamify12345.;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>